<h2>Sign up</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f| %>
      <%= devise_error_messages! %>

       <div>Nombre<br />
      <%= f.text_field :name, :autofocus => true %></div>

      <div>Email<br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div>Password<br />
      <%= f.password_field :password %></div>

      <div>Confirmación del Password<br />
      <%= f.password_field :password_confirmation %></div>

      <div>Avatar<br />
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %></div>

      <div><%= f.submit "Sign up", class: "btn btn-large btn-primary" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
