<%= form_for(current_user.friendships.find_by_user_id_and_friend_id(current_user, @user), remote: true, 
	html: { method: :put }) do |f| %>
	<div><%= f.hidden_field :user_id %></div>
	<div><%= f.hidden_field :friend_id %></div>
	<%= f.submit "Accept Friendship", class: "btn btn-large btn-primary" %>
<% end %>
<%= form_for(current_user.friendships.find_by_user_id_and_friend_id(current_user, @user), remote: true,
	html: { method: :delete } ) do |f| %>
	<div><%= f.hidden_field :user_id %></div>
	<div><%= f.hidden_field :friend_id %></div>
	<%= f.submit "Reject Friendship", class: "btn btn-large btn-primary" %>
<% end %>
