<li>
	<%= link_to avatar_for(user, 70), user %>
	<%= link_to user.name, user %>
	<% if current_user!=user %>
		<% if current_user.admin? %>
			|
			<%= link_to "Delete", user, method: :delete, confirm: "You sure?" %>
		<% end %>

	    <div class=<%= !current_user.pending_friends.include?(user) ? 'cancel-friendship hidden' : 'cancel-friendship' %> >
				|
				<%= link_to "Cancel Friendship", "#", data: {friend: user.id}, class: "cancel-friendship-link" %>
		</div>

		<div class=<%= !current_user.requested_friends.include?(user) ? 'answer-friendship hidden' : 'answer-friendship' %> >
				|
				<%= link_to "Accept Friendship", "#", data: {friend: user.id}, class: "accept-friendship-link" %>
				|
				<%= link_to "Reject Friendship", "#", data: {friend: user.id}, class: "reject-friendship-link" %>
		</div>

		<div class=<%= !current_user.friends.include?(user) ? 'delete-friendship hidden' : 'delete-friendship' %> >
				|
				<%= link_to "Delete Friendship", "#", data: {friend: user.id}, class: "delete-friendship-link" %>
		</div>

		<div class=<%= (current_user.friends.include?(user) || current_user.requested_friends.include?(user) || current_user.pending_friends.include?(user))  ? 'request-friendship hidden' : 'request-friendship' %> >
				|
				<%= link_to "Request Friendship", "#", data: {friend: user.id}, class: "request-friendship-link" %>
		</div>
	<% end %>
</li>
