<li id="<%= feed_item.id %>">
	<%= link_to avatar_for(feed_item.user, 80), feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<span class="content">
	  <% if current_user != feed_item.user %>
	      <pre><%= feed_item.content %></pre>
	  <% else %>
	      <pre><%=best_in_place feed_item, :content %></pre>
	  <% end %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>
	<%= render "shared/vote", object: feed_item %>
	<% if current_user == feed_item.user %>
		<span class="deleteLink">
			<%= link_to "delete", feed_item, method: :delete,
			remote: true,
			title: feed_item.content %>
		</span>
	<% end %>
	<%= render "comments/comment_input", object: feed_item %>
	<%= render "comments/comment", object: feed_item %>
</li>